In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/processed/bike_sharing_cleaned.csv')
df

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt,mixed_type_col
0,1.0,2011-01-01,1.0,0.0,1.0,0.0,0.0,6.0,0.0,1.0,0.24,0.2879,0.81,0.0000,3.0,13.0,16.0,702.0
1,2.0,2011-01-01,1.0,0.0,1.0,1.0,0.0,6.0,0.0,1.0,0.22,0.2727,0.80,0.0000,8.0,32.0,40.0,831.0
2,3.0,2011-01-01,1.0,0.0,1.0,2.0,0.0,6.0,0.0,1.0,0.22,0.2727,0.80,0.0000,5.0,27.0,32.0,175.0
3,4.0,2011-01-01,1.0,0.0,1.0,3.0,0.0,6.0,0.0,1.0,0.24,0.2879,0.75,0.0000,3.0,10.0,13.0,581.0
4,5.0,2011-01-01,1.0,0.0,1.0,4.0,0.0,6.0,0.0,1.0,0.24,0.2879,0.75,0.0000,0.0,1.0,1.0,659.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17721,13401.0,2012-07-17,3.0,1.0,7.0,13.0,0.0,2.0,1.0,1.0,0.92,0.8182,0.31,0.1940,53.0,168.0,221.0,NaN
17722,17216.0,2012-12-25,1.0,1.0,12.0,4.0,1.0,2.0,0.0,2.0,0.24,0.2576,0.87,0.0896,0.0,1.0,1.0,27.0
17723,9341.0,2012-01-30,1.0,1.0,1.0,2.0,0.0,1.0,1.0,1.0,0.24,0.2121,0.48,0.3582,1.0,6.0,7.0,NaN
17724,6268.0,2011-09-23,4.0,0.0,9.0,17.0,0.0,5.0,1.0,2.0,0.60,0.5000,1.00,0.0000,13.0,86.0,NaN,602.0
17725,16926.0,2012-12-13,4.0,1.0,12.0,0.0,0.0,4.0,1.0,2.0,0.28,0.2727,0.52,0.2239,1.0,31.0,32.0,945.0

In [3]:
# Delete mixed_type_col
df =  df.drop('mixed_type_col', axis=1)

In [4]:
# Check NaN values in casual, registered, and cnt columns
casual_nan = df['casual'].isna().sum()
registered_nan = df['registered'].isna().sum()
cnt_nan = df['cnt'].isna().sum()

total_rows = len(df)

print(f"NaN values in 'casual': {casual_nan} ({casual_nan/total_rows*100:.2f}%)")
print(f"NaN values in 'registered': {registered_nan} ({registered_nan/total_rows*100:.2f}%)")
print(f"NaN values in 'cnt': {cnt_nan} ({cnt_nan/total_rows*100:.2f}%)")

# Sum all NaN values from these 3 columns
total_nan = casual_nan + registered_nan + cnt_nan
print(f"\nTotal NaN values in casual, registered, and cnt: {total_nan} ({total_nan/total_rows*100:.2f}%)")

NaN values in 'casual': 272 (1.53%)
NaN values in 'registered': 256 (1.44%)
NaN values in 'cnt': 247 (1.39%)

Total NaN values in casual, registered, and cnt: 775 (4.37%)

In [5]:
# Calculate missing values using the relationship: casual + registered = cnt

# Fill missing cnt values where casual and registered are available
df['cnt'] = df['cnt'].fillna(df['casual'] + df['registered'])

# Fill missing casual values where registered and cnt are available
df['casual'] = df['casual'].fillna(df['cnt'] - df['registered'])

# Fill missing registered values where casual and cnt are available
df['registered'] = df['registered'].fillna(df['cnt'] - df['casual'])

# Check NaN values after filling
casual_nan_after = df['casual'].isna().sum()
registered_nan_after = df['registered'].isna().sum()
cnt_nan_after = df['cnt'].isna().sum()

print("After filling missing values:")
print(f"NaN values in 'casual': {casual_nan_after} ({casual_nan_after/total_rows*100:.2f}%)")
print(f"NaN values in 'registered': {registered_nan_after} ({registered_nan_after/total_rows*100:.2f}%)")
print(f"NaN values in 'cnt': {cnt_nan_after} ({cnt_nan_after/total_rows*100:.2f}%)")

total_nan_after = casual_nan_after + registered_nan_after + cnt_nan_after
print(f"\nTotal NaN values after filling: {total_nan_after} ({total_nan_after/total_rows*100:.2f}%)")

After filling missing values:
NaN values in 'casual': 12 (0.07%)
NaN values in 'registered': 10 (0.06%)
NaN values in 'cnt': 8 (0.05%)

Total NaN values after filling: 30 (0.17%)

In [6]:
# Delete rows with NaN values in casual, registered, or cnt columns
rows_before = len(df)
df = df.dropna(subset=['casual', 'registered', 'cnt'])
rows_after = len(df)

rows_deleted = rows_before - rows_after
print(f"Rows before deletion: {rows_before}")
print(f"Rows after deletion: {rows_after}")
print(f"Rows deleted: {rows_deleted} ({rows_deleted/rows_before*100:.2f}%)")

Rows before deletion: 17726
Rows after deletion: 17711
Rows deleted: 15 (0.08%)

In [7]:
# Detect cases where casual + registered != cnt
# Using a small tolerance for floating point comparison
tolerance = 0.01
inconsistent_mask = abs((df['casual'] + df['registered']) - df['cnt']) > tolerance

inconsistent_count = inconsistent_mask.sum()
print(f"Number of rows where casual + registered != cnt: {inconsistent_count}")
print(f"Percentage: {inconsistent_count/len(df)*100:.2f}%")

if inconsistent_count > 0:
    print("\n" + "="*80)
    print("Rows where casual + registered != cnt:")
    print("="*80)
    inconsistent_df = df[inconsistent_mask].copy()
    inconsistent_df['calculated_sum'] = inconsistent_df['casual'] + inconsistent_df['registered']
    inconsistent_df['difference'] = inconsistent_df['calculated_sum'] - inconsistent_df['cnt']
    
    # Display relevant columns
    display_cols = ['instant', 'dteday', 'casual', 'registered', 'cnt', 'calculated_sum', 'difference']
    display(inconsistent_df[display_cols])
else:
    print("\nAll rows are consistent: casual + registered = cnt")

Number of rows where casual + registered != cnt: 477
Percentage: 2.69%

================================================================================
Rows where casual + registered != cnt:
================================================================================

,instant,dteday,casual,registered,cnt,calculated_sum,difference
16,17.0,2011-01-01,41.0,1041.0,93.0,1082.0,989.0
23,24.0,2011-01-01,15.0,24.0,415.0,39.0,-376.0
39,40.0,2011-01-02,108.0,67.0,76.0,175.0,99.0
78,79.0,2011-01-04,55.0,37.0,42.0,92.0,50.0
100,101.0,2011-01-05,6.0,109.0,5405.0,115.0,-5290.0
...,...,...,...,...,...,...,...
17624,9861.0,2012-02-20,9.0,513.0,126.0,522.0,396.0
17657,5193.0,2011-08-09,6.0,95.0,2424.0,101.0,-2323.0
17671,15536.0,2012-10-14,8600.0,362.0,562.0,8962.0,8400.0
17708,4725.0,2011-07-20,1023.0,429.0,497.0,1452.0,955.0
17716,3326.0,2011-05-23,73.0,2675.0,180.0,2748.0,2568.0

In [8]:
# Function to detect outliers using IQR method
def detect_outliers(df, column_name, iqr_multiplier=1.5):
    """
    Detect outliers in a column using the IQR method.
    Returns the index of outlier rows.
    
    Parameters:
    - df: DataFrame
    - column_name: Column to analyze
    - iqr_multiplier: Multiplier for IQR (default=1.5)
    """
    Q1 = df[column_name].quantile(0.25)
    Q3 = df[column_name].quantile(0.75)
    IQR = Q3 - Q1
    
    lower_bound = Q1 - iqr_multiplier * IQR
    upper_bound = Q3 + iqr_multiplier * IQR
    
    outlier_mask = (df[column_name] < lower_bound) | (df[column_name] > upper_bound)
    outlier_indices = df[outlier_mask].index
    
    print(f"\nColumn: {column_name} (IQR multiplier: {iqr_multiplier})")
    print(f"  Q1: {Q1:.2f}, Q3: {Q3:.2f}, IQR: {IQR:.2f}")
    print(f"  Lower bound: {lower_bound:.2f}, Upper bound: {upper_bound:.2f}")
    print(f"  Number of outliers: {len(outlier_indices)} ({len(outlier_indices)/len(df)*100:.2f}%)")
    
    return outlier_indices


IQR_MULTIPLIER = 2.5

print("="*80)
print(f"OUTLIER DETECTION (IQR Multiplier: {IQR_MULTIPLIER})")
print("="*80)

casual_outliers = detect_outliers(df, 'casual', IQR_MULTIPLIER)
registered_outliers = detect_outliers(df, 'registered', IQR_MULTIPLIER)
cnt_outliers = detect_outliers(df, 'cnt', IQR_MULTIPLIER)

================================================================================
OUTLIER DETECTION (IQR Multiplier: 2.5)
================================================================================

Column: casual (IQR multiplier: 2.5)
  Q1: 4.00, Q3: 50.00, IQR: 46.00
  Lower bound: -111.00, Upper bound: 165.00
  Number of outliers: 783 (4.42%)

Column: registered (IQR multiplier: 2.5)
  Q1: 35.00, Q3: 224.00, IQR: 189.00
  Lower bound: -437.50, Upper bound: 696.50
  Number of outliers: 297 (1.68%)

Column: cnt (IQR multiplier: 2.5)
  Q1: 41.00, Q3: 285.00, IQR: 244.00
  Lower bound: -569.00, Upper bound: 895.00
  Number of outliers: 130 (0.73%)

## Outlier Detection Strategy

I am using an IQR multiplier of **2.5** instead of the standard 1.5 to detect more extreme outliers only. 

**Rationale:**
- Outliers in bike sharing data could be legitimate due to holidays, special events, or favorable weather conditions
- Using a higher threshold (2.5) helps avoid flagging legitimate high-demand periods as outliers
- This approach focuses on identifying truly anomalous data points that are likely data entry errors rather than natural variations in demand

In [9]:
# Identify rows where outliers appear in only one column
casual_only = set(casual_outliers) - set(registered_outliers) - set(cnt_outliers)
registered_only = set(registered_outliers) - set(casual_outliers) - set(cnt_outliers)
cnt_only = set(cnt_outliers) - set(casual_outliers) - set(registered_outliers)

print("\n" + "="*80)
print("OUTLIERS IN SINGLE COLUMNS")
print("="*80)
print(f"Outliers only in 'casual': {len(casual_only)}")
print(f"Outliers only in 'registered': {len(registered_only)}")
print(f"Outliers only in 'cnt': {len(cnt_only)}")

# Recalculate values for rows with outliers in only one column
print("\n" + "="*80)
print("RECALCULATING VALUES FOR SINGLE-COLUMN OUTLIERS")
print("="*80)

# For casual outliers only: recalculate casual = cnt - registered
for idx in casual_only:
    old_casual = df.loc[idx, 'casual']
    df.loc[idx, 'casual'] = df.loc[idx, 'cnt'] - df.loc[idx, 'registered']
    new_casual = df.loc[idx, 'casual']
    if abs(old_casual - new_casual) > 0.01:
        print(f"Row {idx}: casual changed from {old_casual:.2f} to {new_casual:.2f}")

# For registered outliers only: recalculate registered = cnt - casual
for idx in registered_only:
    old_registered = df.loc[idx, 'registered']
    df.loc[idx, 'registered'] = df.loc[idx, 'cnt'] - df.loc[idx, 'casual']
    new_registered = df.loc[idx, 'registered']
    if abs(old_registered - new_registered) > 0.01:
        print(f"Row {idx}: registered changed from {old_registered:.2f} to {new_registered:.2f}")

# For cnt outliers only: recalculate cnt = casual + registered
for idx in cnt_only:
    old_cnt = df.loc[idx, 'cnt']
    df.loc[idx, 'cnt'] = df.loc[idx, 'casual'] + df.loc[idx, 'registered']
    new_cnt = df.loc[idx, 'cnt']
    if abs(old_cnt - new_cnt) > 0.01:
        print(f"Row {idx}: cnt changed from {old_cnt:.2f} to {new_cnt:.2f}")

print(f"\nTotal values recalculated: {len(casual_only) + len(registered_only) + len(cnt_only)}")

================================================================================
OUTLIERS IN SINGLE COLUMNS
================================================================================
Outliers only in 'casual': 759
Outliers only in 'registered': 255
Outliers only in 'cnt': 94

================================================================================
RECALCULATING VALUES FOR SINGLE-COLUMN OUTLIERS
================================================================================
Row 4096: casual changed from 3953.00 to 67.00
Row 16386: casual changed from 5950.00 to 70.00
Row 10253: casual changed from 272.00 to 8.00
Row 6166: casual changed from 4437.00 to 51.00
Row 6168: casual changed from 4185.00 to 45.00
Row 12319: casual changed from 1025.00 to 250.00
Row 8235: casual changed from 504.00 to 9.00
Row 2093: casual changed from 546.00 to 1.00
Row 6210: casual changed from 287.00 to 18.00
Row 10316: casual changed from 272.00 to 19.00
Row 16464: casual changed from 1150.00 to 50.00
Row 10326: casual changed from 539.00 to 20.00
Row 14433: casual changed from 6873.00 to 87.00
Row 112: casual changed from 264.00 to 3.00
Row 130: casual changed from 528.00 to 12.00
Row 14487: casual changed from 450.00 to 102.00
Row 8362: casual changed from 615.00 to 1.00
Row 6318: casual changed from 406.00 to 51.00
Row 6329: casual changed from 404.00 to 17.00
Row 14533: casual changed from 227.00 to -4.00
Row 10449: casual changed from 2736.00 to 72.00
Row 4337: casual changed from 21056.00 to 224.00
Row 2295: casual changed from 8084.00 to 94.00
Row 2299: casual changed from 1110.00 to 135.00
Row 8454: casual changed from 586.00 to 4.00
Row 272: casual changed from 797.00 to 1.00
Row 4381: casual changed from 1608.00 to 24.00
Row 14649: casual changed from 186.00 to 66.00
Row 4412: casual changed from 275.00 to 70.00
Row 4413: casual changed from 213.00 to 79.00
Row 8509: casual changed from 781.00 to 2.00
Row 366: casual changed from 396.00 to 11.00
Row 8564: casual changed from 1072.00 to 16.00
Row 10640: casual changed from 3822.00 to 98.00
Row 2482: casual changed from 511.00 to 20.00
Row 6594: casual changed from 713.00 to 31.00
Row 10719: casual changed from 501.00 to 67.00
Row 6630: casual changed from 4758.00 to 78.00
Row 6636: casual changed from 610.00 to 20.00
Row 10740: casual changed from 1222.00 to 47.00
Row 8731: casual changed from 599.00 to 9.00
Row 4664: casual changed from 515.00 to 10.00
Row 4680: casual changed from 324.00 to 36.00
Row 10837: casual changed from 920.00 to 236.00
Row 2655: casual changed from 1254.00 to 57.00
Row 12898: casual changed from 316.00 to 88.00
Row 8805: casual changed from 605.00 to 87.00
Row 8822: casual changed from 606.00 to 27.00
Row 14982: casual changed from 2844.00 to 79.00
Row 12944: casual changed from 1798.00 to 31.00
Row 10910: casual changed from 941.00 to 113.00
Row 8868: casual changed from 691.00 to 11.00
Row 2737: casual changed from 609.00 to 29.00
Row 722: casual changed from 701.00 to 5.00
Row 745: casual changed from 414.00 to 9.00
Row 4841: casual changed from 1781.00 to 16.00
Row 2802: casual changed from 982.00 to 75.00
Row 11006: casual changed from 848.00 to 151.00
Row 13079: casual changed from 410.00 to 5.00
Row 2843: casual changed from 319.00 to 29.00
Row 15193: casual changed from 192.00 to 2.00
Row 11123: casual changed from 8927.00 to 113.00
Row 7043: casual changed from 739.00 to 2.00
Row 5021: casual changed from 723.00 to 0.00
Row 9127: casual changed from 422.00 to 0.00
Row 17327: casual changed from 388.00 to 2.00
Row 3031: casual changed from 640.00 to 0.00
Row 5082: casual changed from 6650.00 to 70.00
Row 7140: casual changed from 574.00 to 7.00
Row 11243: casual changed from 756.00 to 36.00
Row 3100: casual changed from 555.00 to 15.00
Row 1074: casual changed from 285.00 to 15.00
Row 9271: casual changed from 919.00 to 0.00
Row 9284: casual changed from 975.00 to 20.00
Row 5204: casual changed from 627.00 to 97.00
Row 13397: casual changed from 1073.00 to 37.00
Row 13399: casual changed from 960.00 to 80.00
Row 13406: casual changed from 3726.00 to 69.00
Row 7265: casual changed from 208.00 to 8.00
Row 7279: casual changed from 570.00 to 6.00
Row 13448: casual changed from 2368.00 to 74.00
Row 17552: casual changed from 483.00 to 11.00
Row 15517: casual changed from 916.00 to 174.00
Row 9408: casual changed from 639.00 to 7.00
Row 11474: casual changed from 914.00 to 10.00
Row 11476: casual changed from 2205.00 to 45.00
Row 11481: casual changed from 2646.00 to 147.00
Row 3290: casual changed from 649.00 to 31.00
Row 5340: casual changed from 4158.00 to 54.00
Row 9448: casual changed from 696.00 to 22.00
Row 11507: casual changed from 397.00 to 240.00
Row 7415: casual changed from 611.00 to 6.00
Row 17671: casual changed from 8600.00 to 200.00
Row 15638: casual changed from 274.00 to 42.00
Row 3363: casual changed from 572.00 to 6.00
Row 7462: casual changed from 7168.00 to 128.00
Row 17708: casual changed from 1023.00 to 68.00
Row 1335: casual changed from 287.00 to 4.00
Row 1348: casual changed from 904.00 to 8.00
Row 7499: casual changed from 301.00 to 7.00
Row 11602: casual changed from 817.00 to 63.00
Row 9559: casual changed from 246.00 to 3.00
Row 5487: casual changed from 760.00 to 94.00
Row 7541: casual changed from 715.00 to 26.00
Row 5513: casual changed from 496.00 to 72.00
Row 14530: casual changed from 179.00 to 53.00
Row 15808: casual changed from 1032.00 to 24.00
Row 7657: casual changed from 5589.00 to 81.00
Row 10479: casual changed from 650.00 to 221.00
Row 9731: casual changed from 708.00 to 12.00
Row 5639: casual changed from 294.00 to 27.00
Row 1555: casual changed from 568.00 to 0.00
Row 7707: casual changed from 448.00 to 0.00
Row 5665: casual changed from 3504.00 to 48.00
Row 5697: casual changed from 450.00 to 39.00
Row 9832: casual changed from 244.00 to 85.00
Row 14573: casual changed from 361.00 to 42.00
Row 13946: casual changed from 233.00 to 24.00
Row 13984: casual changed from 724.00 to 50.00
Row 9889: casual changed from 791.00 to 1.00
Row 5802: casual changed from 676.00 to 1.00
Row 16052: casual changed from 4462.00 to 46.00
Row 14010: casual changed from 912.00 to 42.00
Row 1727: casual changed from 829.00 to 30.00
Row 14014: casual changed from 696.00 to 11.00
Row 7896: casual changed from 324.00 to 27.00
Row 7901: casual changed from 760.00 to 7.00
Row 3812: casual changed from 677.00 to 69.00
Row 1773: casual changed from 463.00 to 168.00
Row 12016: casual changed from 860.00 to 51.00
Row 3860: casual changed from 4095.00 to 65.00
Row 1814: casual changed from 616.00 to 3.00
Row 14118: casual changed from 536.00 to 83.00
Row 3897: casual changed from 752.00 to 16.00
Row 3900: casual changed from 199.00 to 18.00
Row 14164: casual changed from 229.00 to 81.00
Row 5973: casual changed from 893.00 to 120.00
Row 16244: casual changed from 215.00 to 20.00
Row 6019: casual changed from 387.00 to 35.00
Row 1943: casual changed from 1408.00 to 64.00
Row 1981: casual changed from 240.00 to 22.00
Row 1982: casual changed from 630.00 to 18.00
Row 10246: registered changed from 2555.00 to 35.00
Row 9223: registered changed from 2178.00 to 33.00
Row 9737: registered changed from 11322.00 to 222.00
Row 2569: registered changed from 3612.00 to 86.00
Row 1036: registered changed from 749.00 to 61.00
Row 16: registered changed from 1041.00 to 52.00
Row 5139: registered changed from 4158.00 to 63.00
Row 7700: registered changed from 995.00 to 28.00
Row 14355: registered changed from 923.00 to 112.00
Row 1061: registered changed from 2852.00 to 31.00
Row 9766: registered changed from 14058.00 to 142.00
Row 2599: registered changed from 777.00 to 6.00
Row 5682: registered changed from 1134.00 to 27.00
Row 4153: registered changed from 2688.00 to 64.00
Row 6204: registered changed from 970.00 to 5.00
Row 12864: registered changed from 1050.00 to 42.00
Row 4675: registered changed from 1201.00 to 473.00
Row 7238: registered changed from 2565.00 to 27.00
Row 14406: registered changed from 14706.00 to 171.00
Row 1098: registered changed from 988.00 to 126.00
Row 2634: registered changed from 718.00 to 197.00
Row 8779: registered changed from 1121.00 to 178.00
Row 10320: registered changed from 4437.00 to 51.00
Row 593: registered changed from 1755.00 to 27.00
Row 12395: registered changed from 728.00 to 382.00
Row 12912: registered changed from 765.00 to 34.00
Row 12932: registered changed from 807.00 to 14.00
Row 9350: registered changed from 7869.00 to 129.00
Row 7817: registered changed from 2916.00 to 36.00
Row 11913: registered changed from 742.00 to 221.00
Row 1166: registered changed from 3496.00 to 46.00
Row 7837: registered changed from 2890.00 to 34.00
Row 3744: registered changed from 4454.00 to 131.00
Row 16033: registered changed from 801.00 to 523.00
Row 8354: registered changed from 3773.00 to 343.00
Row 17582: registered changed from 1114.00 to 315.00
Row 7855: registered changed from 1681.00 to 41.00
Row 2226: registered changed from 1596.00 to 133.00
Row 8884: registered changed from 836.00 to 6.00
Row 10934: registered changed from 1339.00 to 618.00
Row 5303: registered changed from 970.00 to 127.00
Row 13506: registered changed from 1404.00 to 117.00
Row 708: registered changed from 2176.00 to 64.00
Row 16583: registered changed from 794.00 to 546.00
Row 3276: registered changed from 823.00 to 201.00
Row 16596: registered changed from 1031.00 to 354.00
Row 7916: registered changed from 5699.00 to 139.00
Row 12037: registered changed from 1300.00 to 478.00
Row 16132: registered changed from 1460.00 to 146.00
Row 16649: registered changed from 18312.00 to 327.00
Row 11022: registered changed from 6554.00 to 113.00
Row 14607: registered changed from 11424.00 to 357.00
Row 15629: registered changed from 5846.00 to 158.00
Row 6930: registered changed from 1103.00 to 189.00
Row 12064: registered changed from 10252.00 to 233.00
Row 8482: registered changed from 913.00 to 2.00
Row 12578: registered changed from 12480.00 to 480.00
Row 3379: registered changed from 15196.00 to 524.00
Row 17716: registered changed from 2675.00 to 107.00
Row 11576: registered changed from 4296.00 to 179.00
Row 6458: registered changed from 1032.00 to 165.00
Row 10052: registered changed from 747.00 to 178.00
Row 838: registered changed from 6210.00 to 115.00
Row 2374: registered changed from 778.00 to 119.00
Row 16204: registered changed from 9800.00 to 100.00
Row 3408: registered changed from 15229.00 to 157.00
Row 9043: registered changed from 27404.00 to 442.00
Row 7516: registered changed from 1253.00 to 274.00
Row 359: registered changed from 4130.00 to 70.00
Row 4972: registered changed from 2352.00 to 48.00
Row 4986: registered changed from 10608.00 to 208.00
Row 13195: registered changed from 2409.00 to 33.00
Row 5005: registered changed from 3894.00 to 66.00
Row 10127: registered changed from 968.00 to 44.00
Row 2448: registered changed from 1672.00 to 22.00
Row 10129: registered changed from 1800.00 to 20.00
Row 12687: registered changed from 932.00 to 201.00
Row 13714: registered changed from 958.00 to 185.00
Row 16286: registered changed from 46498.00 to 694.00
Row 11681: registered changed from 763.00 to 113.00
Row 4016: registered changed from 1054.00 to 107.00
Row 5554: registered changed from 18748.00 to 436.00
Row 6074: registered changed from 10615.00 to 193.00
Row 3528: registered changed from 903.00 to 117.00
Row 464: registered changed from 909.00 to 159.00
Row 5078: registered changed from 713.00 to 152.00
Row 6102: registered changed from 874.00 to 184.00
Row 12760: registered changed from 806.00 to 302.00
Row 3043: registered changed from 23716.00 to 242.00
Row 13289: registered changed from 813.00 to 262.00
Row 6127: registered changed from 874.00 to 121.00
Row 7154: registered changed from 16235.00 to 191.00
Row 3594: cnt changed from 1229.00 to 349.00
Row 14350: cnt changed from 4611.00 to 53.00
Row 14886: cnt changed from 13860.00 to 252.00
Row 16433: cnt changed from 12760.00 to 232.00
Row 576: cnt changed from 2880.00 to 30.00
Row 13387: cnt changed from 1908.00 to 53.00
Row 5713: cnt changed from 5200.00 to 260.00
Row 3666: cnt changed from 17088.00 to 267.00
Row 5714: cnt changed from 15028.00 to 221.00
Row 5213: cnt changed from 954.00 to 4.00
Row 610: cnt changed from 5360.00 to 80.00
Row 100: cnt changed from 5405.00 to 115.00
Row 4198: cnt changed from 904.00 to 296.00
Row 8297: cnt changed from 4800.00 to 100.00
Row 7275: cnt changed from 16830.00 to 374.00
Row 15467: cnt changed from 1285.00 to 481.00
Row 7282: cnt changed from 923.00 to 62.00
Row 2682: cnt changed from 1279.00 to 291.00
Row 8315: cnt changed from 1350.00 to 18.00
Row 13442: cnt changed from 1334.00 to 473.00
Row 9357: cnt changed from 27234.00 to 306.00
Row 13965: cnt changed from 1780.00 to 20.00
Row 8335: cnt changed from 1517.00 to 37.00
Row 11919: cnt changed from 6426.00 to 459.00
Row 16021: cnt changed from 6950.00 to 139.00
Row 4246: cnt changed from 11560.00 to 340.00
Row 7321: cnt changed from 27066.00 to 347.00
Row 9881: cnt changed from 1071.00 to 425.00
Row 16550: cnt changed from 16500.00 to 500.00
Row 6825: cnt changed from 1302.00 to 62.00
Row 11437: cnt changed from 1008.00 to 664.00
Row 12473: cnt changed from 1063.00 to 291.00
Row 15043: cnt changed from 2304.00 to 64.00
Row 2757: cnt changed from 13230.00 to 270.00
Row 9925: cnt changed from 14592.00 to 192.00
Row 2769: cnt changed from 3936.00 to 48.00
Row 17108: cnt changed from 1016.00 to 249.00
Row 15577: cnt changed from 4816.00 to 172.00
Row 4827: cnt changed from 1176.00 to 12.00
Row 1251: cnt changed from 2835.00 to 35.00
Row 9967: cnt changed from 7533.00 to 93.00
Row 7925: cnt changed from 16038.00 to 162.00
Row 17657: cnt changed from 2424.00 to 101.00
Row 2810: cnt changed from 14337.00 to 177.00
Row 253: cnt changed from 2610.00 to 29.00
Row 8450: cnt changed from 5605.00 to 95.00
Row 14097: cnt changed from 919.00 to 255.00
Row 6931: cnt changed from 971.00 to 138.00
Row 8980: cnt changed from 3654.00 to 42.00
Row 8988: cnt changed from 8550.00 to 90.00
Row 1309: cnt changed from 9779.00 to 127.00
Row 11556: cnt changed from 1585.00 to 681.00
Row 805: cnt changed from 1131.00 to 39.00
Row 7993: cnt changed from 969.00 to 245.00
Row 15673: cnt changed from 2759.00 to 31.00
Row 11584: cnt changed from 6692.00 to 239.00
Row 5953: cnt changed from 7180.00 to 359.00
Row 3908: cnt changed from 14950.00 to 325.00
Row 1353: cnt changed from 9690.00 to 102.00
Row 5452: cnt changed from 4416.00 to 69.00
Row 10572: cnt changed from 8748.00 to 243.00
Row 13644: cnt changed from 27960.00 to 699.00
Row 15182: cnt changed from 958.00 to 470.00
Row 15183: cnt changed from 5670.00 to 315.00
Row 12628: cnt changed from 31110.00 to 366.00
Row 4437: cnt changed from 1192.00 to 270.00
Row 14680: cnt changed from 11041.00 to 181.00
Row 8031: cnt changed from 8892.00 to 234.00
Row 4960: cnt changed from 12200.00 to 305.00
Row 7521: cnt changed from 1782.00 to 22.00
Row 6500: cnt changed from 4949.00 to 101.00
Row 12132: cnt changed from 27426.00 to 653.00
Row 2411: cnt changed from 1118.00 to 178.00
Row 15723: cnt changed from 1655.00 to 728.00
Row 11637: cnt changed from 7425.00 to 75.00
Row 12672: cnt changed from 1598.00 to 17.00
Row 5520: cnt changed from 11475.00 to 153.00
Row 13204: cnt changed from 31581.00 to 363.00
Row 9114: cnt changed from 1126.00 to 174.00
Row 13214: cnt changed from 41015.00 to 631.00
Row 12196: cnt changed from 20251.00 to 263.00
Row 11689: cnt changed from 3408.00 to 142.00
Row 13225: cnt changed from 12529.00 to 187.00
Row 14262: cnt changed from 1060.00 to 267.00
Row 16314: cnt changed from 19516.00 to 476.00
Row 16826: cnt changed from 7524.00 to 209.00
Row 17350: cnt changed from 7140.00 to 102.00
Row 2507: cnt changed from 1620.00 to 162.00
Row 6606: cnt changed from 1119.00 to 197.00
Row 3551: cnt changed from 13110.00 to 190.00
Row 16361: cnt changed from 15760.00 to 197.00
Row 16363: cnt changed from 929.00 to 251.00
Row 7663: cnt changed from 1200.00 to 40.00
Row 2559: cnt changed from 5133.00 to 177.00

Total values recalculated: 1108

In [10]:
# Find rows with outliers in 2 or more columns
all_indices = set(casual_outliers) | set(registered_outliers) | set(cnt_outliers)

multi_outlier_rows = []
for idx in all_indices:
    outlier_count = 0
    outlier_cols = []
    
    if idx in casual_outliers:
        outlier_count += 1
        outlier_cols.append('casual')
    if idx in registered_outliers:
        outlier_count += 1
        outlier_cols.append('registered')
    if idx in cnt_outliers:
        outlier_count += 1
        outlier_cols.append('cnt')
    
    if outlier_count >= 2:
        multi_outlier_rows.append((idx, outlier_count, outlier_cols))

print("="*80)
print("ROWS WITH OUTLIERS IN 2 OR MORE COLUMNS")
print("="*80)

if len(multi_outlier_rows) > 0:
    # Sort by number of outlier columns (descending)
    multi_outlier_rows.sort(key=lambda x: x[1], reverse=True)
    
    outliers_in_3 = sum(1 for _, count, _ in multi_outlier_rows if count == 3)
    outliers_in_2 = sum(1 for _, count, _ in multi_outlier_rows if count == 2)
    total_multi_outliers = outliers_in_3 + outliers_in_2
    
    print(f"Total rows with outliers in 2 or more columns: {total_multi_outliers} ({total_multi_outliers/len(df)*100:.2f}%)")
    print("\nBreakdown:")
    print(f"  Outliers in all 3 columns: {outliers_in_3} ({outliers_in_3/len(df)*100:.2f}%)")
    print(f"  Outliers in exactly 2 columns: {outliers_in_2} ({outliers_in_2/len(df)*100:.2f}%)")
    
    # Show the actual rows
    print("\n" + "="*80)
    print("DETAILED VIEW OF ROWS WITH MULTIPLE OUTLIERS")
    print("="*80)
    
    multi_outlier_indices = [idx for idx, _, _ in multi_outlier_rows]
    result_df = df.loc[multi_outlier_indices].copy()
    result_df['outlier_columns'] = [', '.join(cols) for _, _, cols in multi_outlier_rows]
    result_df['outlier_count'] = [count for _, count, _ in multi_outlier_rows]
    
    # Display relevant columns
    display_cols = ['instant', 'dteday', 'casual', 'registered', 'cnt', 'outlier_count', 'outlier_columns']
    display(result_df[display_cols].head())
else:
    print("No rows found with outliers in 2 or more columns.")

================================================================================
ROWS WITH OUTLIERS IN 2 OR MORE COLUMNS
================================================================================
Total rows with outliers in 2 or more columns: 50 (0.28%)

Breakdown:
  Outliers in all 3 columns: 2 (0.01%)
  Outliers in exactly 2 columns: 48 (0.27%)

================================================================================
DETAILED VIEW OF ROWS WITH MULTIPLE OUTLIERS
================================================================================

,instant,dteday,casual,registered,cnt,outlier_count,outlier_columns
14748,14749.0,2012-09-11,168.0,802.0,970.0,3,"casual, registered, cnt"
15780,15781.0,2012-10-24,1065.0,876.0,963.0,3,"casual, registered, cnt"
12323,12324.0,2012-06-02,275.0,842.0,644.0,2,"casual, registered"
4188,4189.0,2011-06-28,1845.0,112.0,1957.0,2,"casual, cnt"
12487,12488.0,2012-06-09,196.0,1018.0,531.0,2,"casual, registered"

In [11]:
# Delete rows with outliers in 2 or more columns
rows_before_delete = len(df)

# Get indices of rows with multiple outliers
multi_outlier_indices = [idx for idx, _, _ in multi_outlier_rows]

# Drop these rows from the dataframe
df = df.drop(index=multi_outlier_indices)

rows_after_delete = len(df)
rows_deleted_outliers = rows_before_delete - rows_after_delete

print("="*80)
print("DELETING ROWS WITH OUTLIERS IN 2 OR MORE COLUMNS")
print("="*80)
print(f"Rows before deletion: {rows_before_delete}")
print(f"Rows after deletion: {rows_after_delete}")
print(f"Rows deleted: {rows_deleted_outliers} ({rows_deleted_outliers/rows_before_delete*100:.2f}%)")
print(f"\nRemaining rows: {rows_after_delete}")

================================================================================
DELETING ROWS WITH OUTLIERS IN 2 OR MORE COLUMNS
================================================================================
Rows before deletion: 17711
Rows after deletion: 17661
Rows deleted: 50 (0.28%)

Remaining rows: 17661

In [12]:
df.to_csv("../data/processed/bike_sharing_cleaned.csv", index=False)
print("Data saved")

Data saved